In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = pd.read_csv('data.csv')
data.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [5]:
def bmi(weight,height):
    return round((weight/(height**2)*10000),1)

data['BMI'] = bmi(data['Weight'],data['Height'])
weight_status = []
for bmi in data['BMI']:
    if bmi < 18.5:
            weight_status.append('Underweight')
    elif 18.5<=bmi<=24.9:
        weight_status.append('Healthy')
    elif 25.0<=bmi<=29.9:
        weight_status.append('Overweight')
    else:
        weight_status.append('Obese')
data['Weight Status'] = weight_status
data.head()

   Gender  Height  Weight  Index   BMI Weight Status
0    Male     174      96      4  31.7         Obese
1    Male     189      87      2  24.4       Healthy
2  Female     185     110      4  32.1         Obese
3  Female     195     104      3  27.4    Overweight
4    Male     149      61      3  27.5    Overweight

In [6]:
data_male = data.loc[data['Gender']=='Male']
data_female = data.loc[data['Gender']=='Female']
data_male

    Gender  Height  Weight  Index   BMI Weight Status
0     Male     174      96      4  31.7         Obese
1     Male     189      87      2  24.4       Healthy
4     Male     149      61      3  27.5    Overweight
5     Male     189     104      3  29.1    Overweight
6     Male     147      92      5  42.6         Obese
..     ...     ...     ...    ...   ...           ...
487   Male     187      80      2  22.9       Healthy
488   Male     198     136      4  34.7         Obese
494   Male     152      98      5  42.4         Obese
498   Male     150      95      5  42.2         Obese
499   Male     173     131      5  43.8         Obese

[245 rows x 6 columns]

In [9]:
# maximum and minimums
max_height = np.max(data['Height'])
max_weight = np.max(data['Weight'])
max_height_m = np.max(data['Height'])
max_height_f = np.max(data_female['Height'])

SyntaxError: invalid syntax (Temp/ipykernel_13068/3801880316.py, line 5)